
header ul {
    float: right;
    color: #6E1B21;
}
header li {
    display: inline-flex;
}
#logoName{
    font-family:'Permanent Marker', cursive;
    font-size: 60px;
    color: #F7F4F3;
}
body{
    background-color: #F7F4F3;
    height: 100px;
}
header{
    background-color: #F7F4F3;
    box-sizing: border-box;
    margin: 0;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
  
}
section{
    background-color: #6E1B21;
    color: #F7F4F3;
    margin: 20;
    padding: 20;
}

.content{
   
}

li{
    display: inline-flex;
   margin: 0px 20px;
}

.heroImg{
    border-radius: 25px;
}
footer{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: #6E1B21;
}